@charset "UTF-8";
.backgroundcolor {
  background-color: black;
}

.rockfest {
  text-align: center;
  -webkit-text-decoration: underline overline #113982;
          text-decoration: underline overline #113982;
  text-transform: uppercase;
  color: white;
  font-family: 'Oswald', sans-serif;
  font-style: none;
  font-weight: bold;
  font-size: 5em;
}

/*IMAGE CON HOVER*/
.container {
  position: relative;
  width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.middle {
  -webkit-transition: .5s ease;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #45578a;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.inicio__h2hover {
  text-transform: uppercase;
  color: white;
  font-family: 'Oswald', sans-serif;
  font-size: 35px;
  text-align: center;
}

.inicio__h2hover--minuscula {
  font-size: 25px;
}

.alinear {
  text-align: center;
}

.lista {
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  border: solid 1px white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.link {
  margin: 10px;
  font-size: 30px;
}

.subtitle {
  text-align: center;
  text-transform: uppercase;
  color: #a6281f;
  font-family: 'Oswald', sans-serif;
  font-style: none;
  font-weight: bold;
  font-size: 3em;
}

.festival {
  text-align: center;
  color: #a6281f;
  font-family: 'Oswald', sans-serif;
  font-style: none;
  font-weight: bold;
  padding: 20px;
  border: solid 5px;
  margin: 5px;
}

.transform {
  color: white;
  width: 100px;
  height: 100px;
  background: red;
  -webkit-transition: width 2s;
  transition: width 2s;
  font-family: 'Oswald', sans-serif;
  border: solid 1px #113982;
  overflow: hidden;
}

.transform:hover {
  width: 300px;
}

.h2inicio {
  color: white;
  font-family: 'Oswald', sans-serif;
  font-style: none;
  font-weight: lighter;
  font-size: 2em;
  letter-spacing: 1px;
  text-align: center;
}

.h3inicio {
  color: white;
  font-family: 'Oswald', sans-serif;
  font-style: none;
  font-weight: normal;
  font-size: 2em;
  letter-spacing: 1px;
}

.pinicio {
  color: white;
  font-family: 'Oswald', sans-serif;
  font-style: none;
  font-weight: normal;
  font-size: 1em;
  letter-spacing: 2px;
}

.footer {
  font-style: italic;
  color: white;
  font-weight: bold;
  font-size: 1em;
}

.h3 {
  color: white;
  font-family: 'Oswald', sans-serif;
  font-style: none;
  font-weight: lighter;
  font-size: 2em;
}

.p {
  color: #51c3c9;
  font-family: 'Oswald', sans-serif;
  font-style: none;
  font-weight: lighter;
  font-size: 2em;
}

/*comienza cssde seccion fotografia*/
.pictures {
  width: 800px;
  height: 400px;
  /* display: $display;
	 margin-left: $margin-left;
	 margin-right: $margin-right;*/
}

.fotografiatitle {
  color: #73240e;
  text-align: center;
  font-size: 3em;
  font-family: 'Oswald', sans-serif;
  padding: 20px;
  margin: 5px;
  border: solid 5px;
  background-color: black;
}

.animacion {
  width: 100px;
  height: 100px;
  background-color: #962721;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: fotografia;
          animation-name: fotografia;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

@-webkit-keyframes fotografia {
  from {
    top: 0px;
    background-color: #962721;
  }
  to {
    top: 100px;
    background-color: #15279e;
  }
  /* 0% {background-color: #962721;}
  25%  {background-color: #15279e;}
  50%  {background-color: #5f27a8;}
  75% {background-color: #32ad72;}
  100% {background-color: white;}*/
}

@keyframes fotografia {
  from {
    top: 0px;
    background-color: #962721;
  }
  to {
    top: 100px;
    background-color: #15279e;
  }
  /* 0% {background-color: #962721;}
  25%  {background-color: #15279e;}
  50%  {background-color: #5f27a8;}
  75% {background-color: #32ad72;}
  100% {background-color: white;}*/
}

.h3 {
  text-align: center;
  font-size: 2em;
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
}

.bandas {
  color: #73240e;
  line-height: underline white;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  text-align: center;
}

/*
.pictures{
	 display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
/*
 /*comienza cssde seccion informacion*/
.infoh1 {
  text-align: center;
  text-transform: uppercase;
  color: #73240e;
  font-family: 'Oswald', sans-serif;
  font-style: none;
  font-weight: bold;
  font-size: 3em;
  padding: 10px;
  border: solid 5px;
  margin: 5px;
}

.h2info {
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-family: 'Oswald', sans-serif;
  font-style: none;
  font-weight: bold;
  font-size: 3em;
  -webkit-text-decoration: underline #45578a;
          text-decoration: underline #45578a;
}

.pinfo {
  text-align: center;
  color: white;
  font-family: 'Oswald', sans-serif;
  font-style: none;
  font-weight: normal;
  font-size: 1em;
}

.location {
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-family: 'Oswald', sans-serif;
  font-style: none;
  font-weight: bold;
  font-size: 3em;
  -webkit-text-decoration: underline #45578a;
          text-decoration: underline #45578a;
}

.table {
  color: white;
}

/*comienza cssde seccion merch*/
.h1inicial {
  text-align: center;
  text-transform: uppercase;
  color: #73240e;
  font-family: 'Oswald', sans-serif;
  font-style: none;
  font-weight: bold;
  font-size: 3em;
  padding: 20px;
  margin: 5px;
  border: solid 5px;
}

.tituloproduc {
  color: white;
  font-family: 'Oswald', sans-serif;
  -webkit-text-decoration: underline #45578a;
          text-decoration: underline #45578a;
}

.listaprendas {
  color: red;
}

.listautilidades {
  color: white;
}

/*comienza cssde seccion hoodies*/
/*.gridhoodies{
 	border: solid 1px red;
	display: grid;
	height: 200px;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr;

 }

 .item{
	border: solid 2px pink;
	background-color: lightblue;
	font-size: 20px;*/
.h1hoodies {
  font-size: 3em;
  text-align: center;
  color: #8C0404;
  padding: 20px;
  margin: 5px;
  border: solid 5px;
}

.hoodies {
  font-size: 1em;
  text-transform: uppercase;
  color: #1B8CDD;
}

.condiciones {
  text-transform: uppercase;
  color: white;
}

.condiciones2 {
  color: white;
}

/*comienza sección de remeras*/
/*comienza seccion de lineup*/
.lineup {
  text-align: center;
  text-transform: uppercase;
  color: #8C0404;
  font-family: 'Oswald', sans-serif;
  font-style: none;
  font-weight: bold;
  font-size: 3em;
  padding: 20px;
  margin: 5px;
  border: solid 5px;
}

.h2lineup {
  text-align: center;
  color: white;
  font-family: 'Oswald', sans-serif;
  font-style: none;
  font-weight: normal;
  font-size: 1em;
}

.playlistlink {
  text-align: center;
  padding: 5px;
  border: solid 3px;
  margin: 5px;
}

/*comienza seccion de accesorios*/
.listaccesorios-var {
  font-size: 20px;
  color: white;
}

.listaccesorios-var {
  font-size: 20px;
  color: white;
}

.listaccesorios-var {
  font-size: 20px;
  color: white;
}

.listaccesorios-var {
  font-size: 20px;
  color: white;
}

.gridaccesorios {
  border: solid 1px red;
  display: -ms-grid;
  display: grid;
  height: 200px;
  /*grid-template-rows: 1fr 1fr 1fr;*/
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.item {
  color: red;
  border: solid 2px lightblue;
  background-color: blue;
  font-size: 30px;
  /*comienza seccion de consultas*/
  /*eleccion de merch*/
}

.item .order {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.item .accesorios {
  color: white;
  font-size: 3em;
  text-align: center;
}

.item .condiciones {
  color: white;
}

.item .consultas {
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-style: none;
  font-size: 3em;
  /*padding: 20px;
	margin: 5px;
	border:solid 5px ;*/
}

.item .infocons {
  color: white;
  font-family: 'Oswald', sans-serif;
}

.item .labels {
  color: white;
}

.item .footer {
  font-style: italic;
  color: white;
  font-weight: bold;
  font-size: 1em;
}

.item .fieldset {
  color: white;
  background-color: white;
}
/*# sourceMappingURL=estilo.css.map */